.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.card {
    max-width: 345px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
}

.imageContainer {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -7px;
    /* Aligns image with card */
}

.profileImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.name {
    font-weight: bold;
    margin-bottom: 8px;
}

.role {
    margin-bottom: 8px;
}

.links {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.link {
    color: #1976d2;
    /* Material UI primary color */
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}